<p style="color: yellow"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar este producto", edit_product_path(@product) %> |
  <%= link_to "Volver a productos", products_path %>

  <%= button_to "Destruir este producto", @product, method: :delete, class: "btn btn-outline-danger btn-sm mt-2" %>
</div>
